%div{:class => "chat__message"}
  %div{:class => "chat__message__label"}
    %p{:class => "chat__message__label__member"}
      member
    %p{:class => "chat__message__label__time"}
      time
  %p{:class => "chat__message__text"}
    text