.chat__message
  .chat__message__label
    %p.chat__message__label__member
      = message.user.name
    %p.chat__message__label__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.chat__message__main
    - if message.content.present?
      %p.chat__message__main__text
        = message.content
    = image_tag message.image.url, class: "chat__message__main__image" if message.image.present?