body{
  height: 100vh;
  width: 100vw;

  .side-bar{
    height: 100%;
    background-color: #2f3e51;
    float: left;
    color: $color-font-white;
    font-weight: bold;
    width: 300px;
    
    &__user{
      background-color: #253141;
      height: 100px;
      line-height: 100px;
      &__name{
        float: left;
        font-size: 16px;
        padding-left: 20px;
      }
      &__icon{
        padding-right: 20px;
        float: right;
      }
    }

    &__group{
      padding-left: 20px;
      &__name{
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      &__last-message{
        font-size: 11px;
        padding-bottom: 20px;
      }  
    }
  }

  
  .chat{
    height: 100%;
    width: calc(100vw - 300px);
    background-color: $color-back-white;
    float: left;
    &__edit-button{
      margin-right: 40px;
      float: right;
      margin-top: 28px;
      padding-left: 20px;
      padding-right: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid $color-blue;
      color: $color-blue;
      text-decoration: none;
    }
    &__group{
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
      padding-left: 40px;
      padding-right: 40px;
    }
    &__member{
      padding-top: 15px;
      font-size: 12px;
      color: $color-gray;
      border-bottom: solid #eeeeee;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 6px;
    }
    &__message{
      padding-left: 40px;
      padding-right: 40px;  
      &__label{
        display: flex;
        padding-top: 40px;
        &__member{
          font-size: 16px;
          font-weight: bold;
          color: $color-gray2;
        }
        &__time{
          font-size: 12px;
          color: $color-gray;
          padding-left: 10px;
        }
      }
      &__text{
        padding-top: 10px;
        font-size: 14px;
        color: $color-gray2;
      }
    }
    &__send{
      width: calc(100vw - 300px);
      background-color: $color-gray;
      position: fixed;
      bottom: 0;
      display: flex;
      &__input-box{
        color: $color-gray2;
        width: 100%;
        margin: 20px 40px;
        &__text{
          background-color: $color-back-white;
          width: calc(100% - 160px);
          height: 50px;
          line-height: 50px;
          padding-left: 10px;
          font-size: 16px;
        }
        &__photo{
          background-color: $color-back-white;
          height: 50px;
          line-height: 50px;
          position: relative;
          right: 30px;
          &__choose{
            display: none;
          }
        }
        &__send-button{
          background-color: $color-light-blue;
          height: 50px;
          width: 100px;
          line-height: 50px;
          margin-left: 15px;
          color: $color-font-white;
          text-align: center;
          float: right;
        }
      }
    }
  }
}